<% @cohorts.each do |cohort| %>
  <p>Cohort name: <a href="/schedules/<%=cohort.id%>"><%= cohort.name %></a> <%=cohort.id%></p>
<% end %>

<% user = current_user.role  %>
  <% unless user == "student" || unless user == "instructor"%>
  <a href="/schedules/new">add a schedule</a>
  <% end %>
<% end %>

