<% if object.errors.any? %>
<div id="error_explanation">
    <h2 id='error'><%= pluralize(object.errors.count, "error") %></h2>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
        <li id="error_msg"><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>
