<p>hey you should log in or sign up</p>
<p>FORM signin</p>

<form method="post" action="/users/:id">
  Username:<input type="text" name="username" placeholder="username"/>
  Password: <input type="text" name="password" />
  <input type="submit" value="Go" />
</form>

Sign Up: <a href="/users/new">HERE</a>