<div id="welcome_page">
<% if !user_signed_in? %> 
<p id="welcoming_users">WELCOME TO THE X-MEN ADMIN PANEL</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="ui large buttons welcome_button">
  <button class="ui button button_signin"><a href="/users/sign_in">SIGN IN</a></button>
  <button class="ui button button_signup"><a href="/users/sign_up">SIGN UP</a></button>
</div>
<% end %>
</div>


