<h1>Welcome <%=@user.nickname %></h1>
 (if role is instructor/ student/admin/director) =>
 (show specific sections)

Cohorts: <a href="/cohorts">
Courses: <a href="/courses">
Instructors: <a href="/instructors">
Schedule: <a href="/schedules">
